{% extends "base.html" %}

{% block content %}
<style>
	table, th, td {
  border:1px solid black;
}
</style>
		<table  style="width:100%">
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Price</th>
				<th>Description</th>
				<th>Website</th>
			</tr>
			{% for name in cars %}
			<tr>
				<td>{{name.make}}</td>
				<td>{{name.name}}</td>
				<td>{{name.year}}</td>
				<td>{{name.price}}</td>
				<td>{{name.description}}</td>
				<td>{{name.website_url}}</td>
			</tr>
		</table>
		{% endfor %}
{% endblock %}