{% extends "base.html" %}

{% block content %}

<div style="text-align:center; padding-top: 50px; padding-bottom: 50px;">
<h2 style="font-size: 36px; font-weight: bold; color: #333; margin-bottom: 20px;">Contact Info</h2>
<p style="font-size: 20px; line-height: 1.5; color: #666; margin-bottom: 20px;">Thank you for your interest in Green Door. Please feel free to reach out to us with any questions, comments, or concerns. We are happy to assist you in any way we can.</p>
<p style="font-size: 20px; line-height: 1.5; color: #666; margin-bottom: 20px;">Please contact us to add products to our application!</p>
<div style="display: flex; justify-content: center; margin-bottom: 30px;">
  <div style="margin-right: 20px;">
    <p style="font-size: 24px; color: #333;"><i class="fa fa-map-marker"></i> Address: </p>
    <p style="font-size: 20px; line-height: 1.5; color: #666; margin-bottom: 20px;">PO Box 112 <br>Groton CT, 06340</p>
  </div>
  <div>
    <p style="font-size: 24px; color: #333;"><i class="fa fa-phone"></i> Phone: </p>
    <p style="font-size: 20px; line-height: 1.5; color: #666; margin-bottom: 20px;">(860) 333-7535</p>
  </div>
</div>
<p style="font-size: 24px; color: #333;"><i class="fa fa-envelope"></i> Email: <a href="mailto:GreenDoor98@gmail.com" style="color: #4CAF50; text-decoration: none;">GreenDoor98@gmail.com</a></p>

</div>
{% endblock %}
