{% extends "base.html" %}

{% block content %}
<div style="text-align:center; padding-top: 50px; padding-bottom: 50px;">
<h2 style="font-size: 36px; font-weight: bold; color: #333; margin-bottom: 20px;">Contact Info</h2>
<p style="font-size: 20px; line-height: 1.5; color: #666; margin-bottom: 20px;">Please contact us using the following contact to add your products to the Green Door.</p>
<p style="font-size: 24px; color: #333;"><i class="fa fa-envelope"></i> Email: <a href="mailto:GreenDoor@gmail.com" style="color: #4CAF50; text-decoration: none;">GreenDoor@gmail.com</a></p>
</div>
{% endblock %}