{% extends "base.html" %}

{% block content %}
<style>
	table {
	  border-collapse: collapse;
	  width: 100%;
	  margin-bottom: 20px;
	  border: 1px solid #ddd;
	  font-size: 16px;
	  text-align: left;
	}
	th, td {
	  text-align: center;
	  padding: 12px;
	  border-bottom: 1px solid #ddd;
	}
	th {
	  background-color: darkgreen; /* change the background color to dark green */
	  color: white;
	  font-weight: bold;
	}
	tr:hover {
	  background-color: #f5f5f5;
	}
	td:last-child {
	  text-align: center;
	}
</style>

		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Description</th>
					<th>Website</th>
				</tr>
			</thead>
			<tbody>
				{% for name in foods %}
				<tr>
					<td>{{name.name}}</td>
					<td>{{name.price}}</td>
					<td>{{name.description}}</td>
					<td>{{name.website_url}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}