{% extends "base.html" %}
{% block content %}

<title>Register</title>
<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>


<div class="box">
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	<p>
		{{ form.first_name.label(style='font-size: 20px;') }}<br>
		{{ form.first_name(size=32, style='height: 25px;') }}
	</p>
    <p>
		{{ form.last_name.label(style='font-size: 20px;') }}<br>
		{{ form.last_name(size=32, style='height: 25px;') }}
	</p>
	<p>
		{{ form.email.label (style='font-size: 20px;') }}<br>
		{{ form.email(size=32, style='height: 25px;') }}
	</p>
    <p>
		{{ form.username.label(style='font-size: 20px;') }}<br>
		{{ form.username(size=32, style='height: 25px;') }}
	</p>
	<p>
		{{ form.password.label (style='font-size: 20px;') }}<br>
		<input type="password" name="password" value="" id="myInput" size=32, style='height:25px'><br><br>
		<input type="checkbox" onclick="myFunction()">Show Password
		 		
	</p>
	<p> { form.submit } </p>
	<p><a href="/login">Cancel</a></p>
</form>
</div>
{% endblock %}